<div class="container">
    <div class="d-flex align-content-stretch flex-wrap gap-5 mt-5 ml-7">
        <div class="box"><img id="myImg" src="/css/formal_shoe3.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        {{!-- <img id="myImg" src="/css/formal_shoe3.jpg" alt="formal-shoe" style="width:250px;max-width:300px"> --}}

        
        <div class="box"><img id="myImg" src="/css/formal_shoe1.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img id="myImg" src="/css/formal_shoe2.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/formal_shoe4.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/sandal4.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/sanda3.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/sandal5.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/sandal6.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/semi_formal1.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/semi_formal2.jpg" alt="" width="250px" height="250px">
            <select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select> 
        </div>
        <div class="box"><img src="/css/semi_formal3.jpg" alt="" width="250px" height="250px"><select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/semi_formal4.jpg" alt="" width="250px" height="250px"><select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/casual_sandal1.jpg" alt="" width="250px" height="250px"><select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/casual_sandal2.jpg" alt="" width="250px" height="250px"><select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/casual_sandal3.jpg" alt="" width="250px" height="250px"><select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/casual_sandal4.jpg" alt="" width="250px" height="250px"><select name="" id="">
                <option value="0">Choose size</option>
                <option value="3">Size 3</option>
                <option value="4">Size 4</option>
                <option value="3">Size 5</option>
                <option value="4">Size 6</option>
            </select></div>

            <!-- The Modal -->
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Add to cart</button>
            <div id="caption"></div>
           <div class="modal-footer">
       
      </div>
        </div>
        

        <script>
            // Get the modal
            var modal = document.getElementById("myModal");

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById("myImg");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            }
        </script>

    </div>
</div>