<div class="container">
    <div class="d-flex align-content-stretch flex-wrap gap-5 mt-5 ml-7">
        <div class="box"><img src="/css/formal_shoe3.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/formal_shoe1.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/formal_shoe2.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/formal_shoe4.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/sandal4.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/sanda3.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
            </div>
        <div class="box"><img src="/css/sandal5.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/sandal6.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/semi_formal1.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/semi_formal2.jpg" alt="" width="250px" height="250px">
        <select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select>
        </div>
        <div class="box"><img src="/css/semi_formal3.jpg" alt="" width="250px" height="250px"><select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/semi_formal4.jpg" alt="" width="250px" height="250px"><select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/casual_sandal1.jpg" alt="" width="250px" height="250px"><select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/casual_sandal2.jpg" alt="" width="250px" height="250px"><select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/casual_sandal3.jpg" alt="" width="250px" height="250px"><select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select></div>
        <div class="box"><img src="/css/casual_sandal4.jpg" alt="" width="250px" height="250px"><select name="" id="">
            <option value="0">Choose size</option>
            <option value="3">Size 3</option>
            <option value="4">Size 4</option>
            <option value="3">Size 5</option>
            <option value="4">Size 6</option>
            </select></div>


    </div>
</div>